<div class="position-absolute w-100 h-100 container col-md-12 justify-content-center align-items-center d-flex">
  <div class="contentStyle">
    <form [formGroup]="faceMaskForm" novalidate class="w-100" (ngSubmit)="getInformations()">
      <div class="m-0 p-0 col-md-12 row text-center">
        <div class="col-md-12 justify-content-center align-items-center p-2">
          <img src="../assets/logo.png" alt="" logo style="width: 110px">
        </div>
        <div class="col-md-12 justify-content-center align-items-center"><h4 class="font-weight-bold" style="font-size: 22px;color: #41414e">Face Mask Detection Informations</h4></div>
        <div class="col-md-12 row w-100 m-0 p-2 text-center mt-3">
<!--          <div class="col-md-6 justify-content-center m-0 p-0 row"></div>-->
          <label for="inTimeInput" class="font-weight-bold" style="color: #41414e">Shift Start Time</label>
          <input class="col-md-12 form-control" id="inTimeInput" type="datetime-local" id="meeting-time" formControlName="inTIme" required>
          <div *ngIf="inTIme.invalid && (inTIme.dirty || inTIme.touched)"
               class="alert alert-danger erroMsgStyle col-md-12 mt-2">
            <div *ngIf="inTIme.errors.required">
              Shift start time is required.
            </div>
          </div>
        </div>
        <div class="col-md-12 row w-100 m-0 p-2 text-center">
<!--          <div class="col-md-6 justify-content-center m-0 p-0 row"></div>-->
          <label for="outTimeInput" class="font-weight-bold" style="color: #41414e">Shift End Time</label>
          <input class="col-md-12 form-control" id="outTimeInput" type="datetime-local" formControlName="outTIme" required>
          <div *ngIf="outTIme.invalid && (outTIme.dirty || outTIme.touched)"
               class="alert alert-danger erroMsgStyle col-md-12 mt-2">
            <div *ngIf="outTIme.errors.required">
              Shift end time is required.
            </div>
          </div>
        </div>
        <div class="col-md-12 row w-100 m-0 p-2 text-center justify-content-center mb-2 mt-4">
          <button type="submit" class="btn w-100" style="border-radius: 10px;background: green;font-weight: bold;color: white">Download Result</button>
        </div>
      </div>
    </form>
  </div>
</div>

